<form (ngSubmit)="agregarProyecto()" #miFormulario="ngForm" class="border">
  <div *ngIf="mensajeError()" class="m-3 alert alert-danger">
    Campos Invalidos
  </div>

  <label class="form-label m-3">
    Nombre Proyecto:
    <input
      [(ngModel)]="proyectoInitialState.proyecto"
      name="proyecto"
      class="form-control"
      type="text"
      placeholder="Nombre del Proyecto"
      required
      minlength="3"
      maxlength="15"
    />
  </label>
  <br />

  <label class="form-label m-3">
    Agregar Tecnologia:
    <input
      [(ngModel)]="proyectoInitialState.tecnologia"
      name="tecnologia"
      class="form-control"
      type="text"
      placeholder="Nombre de la tecnología"
    />
  </label>
  <button type="button" (click)="agregarTecnologia()" class="btn btn-primary">
    Agregar Tecnologia
  </button>
  <p>
    {{ tecnologias | json }}
  </p>
  <br />

  <button type="submit" class="btn btn-warning w-100 m-3">
    Agregar Proyecto
  </button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Proyecto</th>
      <th scope="col">Tecnologias</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proyecto of proyectos">
      <td>{{ proyecto.nombre }}</td>
      <td>
        <span *ngFor="let tecnologia of proyecto.tecnologias">
          {{ tecnologia.nombre }},
        </span>
      </td>
    </tr>
  </tbody>
</table>
