<h3>Pipe: slice</h3>
<ul class="list-group">
  <li *ngFor="let per of personas | slice: 0:3" class="list-group-item">
    {{ per }}
  </li>
</ul>

<h3>Pipe: keyvalue</h3>
<div class="card text-dark" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title" *ngFor="let dato of persona | keyvalue">
      {{ dato.key | titlecase }}: {{ dato.value }}
    </h5>
  </div>
</div>

<h3>Pipe: i18nSelect</h3>
<h2>{{ persona.genero | i18nSelect: genero }}</h2>

<h3 class="mt-3">Pipe: i18nPlural</h3>
<h2>{{ mensajes | i18nPlural: mensajesOpt | titlecase }}</h2>
<button class="btn btn-warning" (click)="aumentar()">Agregar Mensaje</button>
