<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Actividad</th>
      <th>Completar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of tareas; index as i">
      <th>{{ i + 1 }}</th>
      <td>
        <b [ngClass]="tarea.completada ? 'is-underlined' : ''">{{
          tarea.tarea
        }}</b>
      </td>
      <td>
        <button
          [disabled]="tarea.completada"
          class="button is-link"
          (click)="complete(tarea)"
        >
          Completar
        </button>
      </td>
      <td>
        <button class="button is-danger" (click)="delete(tarea)">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
