<form (ngSubmit)="agregar()" [formGroup]="miFormulario" class="border">
  <div *ngIf="validar()" class="m-3 alert alert-danger">Campos Invalidos</div>

  <label class="form-label m-3">
    Nombre Proyecto:
    <input
      formControlName="nombre"
      class="form-control"
      type="text"
      placeholder="Nombre del Proyecto"
    />
  </label>
  <br />

  <label class="form-label m-3">
    Agregar Tecnologia:
    <input
      [formControl]="nuevaTecnologia"
      class="form-control"
      type="text"
      placeholder="Nombre de la tecnología"
    />
  </label>
  <button (click)="agregarTecnologia()" type="button" class="btn btn-primary">
    Agregar Tecnologia
  </button>
  <ul class="mx-3 list-group list-group-horizontal">
    <li *ngFor="let tecnologia of tecnologias.controls" class="list-group-item">
      {{ tecnologia.value?.nombre }}
    </li>
  </ul>

  <button type="submit" class="btn btn-warning w-100 m-3">
    Agregar Proyecto
  </button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Proyecto</th>
      <th scope="col">Tecnologias</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proyecto of proyectos">
      <td>{{ proyecto.nombre }}</td>
      <td>
        <span *ngFor="let tecnologia of proyecto.tecnologias">
          {{ tecnologia.nombre }},
        </span>
      </td>
    </tr>
  </tbody>
</table>
