<form
  (ngSubmit)="guardarContacto()"
  #formularioAgregar="ngForm"
  autocomplete="off"
>
  <label>
    Nombre:
    <input
      class="formControl"
      [ngModel]="initialState.nombre"
      name="nombre"
      required
      minlength="2"
      maxlength="15"
      placeholder="Nombre"
      type="text"
    />
  </label>

  <label>
    Correo:
    <input
      class="formControl"
      [ngModel]="initialState.correo"
      name="correo"
      required
      email
      placeholder="Email"
      type="email"
    />
  </label>

  <label>
    Edad:
    <input
      class="formControl"
      [ngModel]="initialState.edad"
      name="edad"
      min="0"
      max="100"
      required
      placeholder="Edad"
      type="number"
    />
  </label>

  <button class="btn" type="submit">Guardar Contacto</button>
</form>
