<div class="row">
  <div class="col-12 col-md-4">
    <img
      class="img-thumbnail rounded"
      [src]="proyectoData.img"
      [alt]="proyectoData.nombre"
    />

    <h2>{{ proyectoData.nombre }}</h2>

    <div>
      <a target="_blank" [href]="proyectoData.url" class="btn btn-warning w-100"
        >Visitar Aplicación</a
      >
    </div>
  </div>

  <div class="col-12 col-md-8">
    <h2>Descripción</h2>
    <hr />
    <p>
      {{ proyectoData.descripcion }}
    </p>

    <h2>Tecnologías</h2>
    <hr />
    <div class="list-group">
      <span
        *ngFor="let tecnologia of proyectoData.tecnologias"
        class="list-group-item list-group-item-action"
        >{{ tecnologia }}</span
      >
    </div>

    <button (click)="goProyectos()" class="btn btn-info w-100 my-3">
      Volver a Proyectos
    </button>
  </div>
</div>
