<div class="row">
  <div class="col-12 col-md-4">
    <img [src]="proyecto.img" [alt]="proyecto.nombre" />
    <h2>{{ proyecto.nombre }}</h2>
  </div>

  <div class="col-12 col-md-8">
    <h2>Descripción</h2>
    <hr />

    <p>
      {{ proyecto.descripcion }}
    </p>

    <div class="row">
      <div class="col-12 col-md-6">
        <h4>Tecnologías Utilizadas</h4>
        <hr />
        <ul>
          <li *ngFor="let tecnologia of proyecto.tecnologias">
            {{ tecnologia }}
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <a class="btn btn-success w-100 m-3" routerLink="">
          Regresar al inicio
        </a>
        <a class="btn btn-dark w-100 m-3" [href]="proyecto.url" target="_blank">
          Visitar Aplicacíon
        </a>
      </div>
    </div>
  </div>
</div>
