.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}

h1 {
  margin: 2rem 0;
}
